$mainGreen: #094b0e;
$secondaryGreen: #03670B;
$mainWhite: #f1f1f1;
$mainBlack: #1E1E1E;
$gray: #c7c7c7;
$transparentGreenBackground: rgba(9, 75, 14, 0.5);
$transparentOverlay: rgba(9, 75, 14, 0.8);
$heroOverlay: rgba(0, 0, 0, 0.3);
$headingFont: "Archivo Black", sans-serif;
$textFont: "Inter", sans-serif;
$fixedWidth: 1440px;
$horizontalPadding: 30px;
$borderColor: #e5e5e5;
$borderRadius:3px;
// $backgroundBlur: blur(5px);