@use "../../variables";

.about-section {
    background-color: variables.$mainGreen;
}

.about-fixed-width {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: variables.$fixedWidth;
    margin: 0 auto;
}

.about-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 20px;
    color: variables.$mainWhite;
}

// .about-img {
//    min-width: 40%; //FOR PREVIEW ONLY CHANGE LATER
// }

.about-right h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.about-right p {
    font-size: 1.2rem;
}

.about-tab-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.about-tab-buttons .tab {
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.about-tab-buttons .active {
    border-bottom: 2.5px solid variables.$secondaryGreen;
}

// RESPONSIVE CSS
@media (max-width: 768px) {
    .about-fixed-width {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .about-img {
        min-width: 100%;
    }

    .about-right p {
        font-size: 1.1rem;
    }

    .about-tab-buttons .tab {
        font-size: 1.1rem;
    }

}

// Mobile

@media (max-width: 680px) {
    .about-right h2 {
        font-size: 1.4rem;
        margin-bottom: 15px;
    }
    .about-right p {
        font-size: 1rem;
    }

    .about-tab-buttons .tab {
        font-size: 1rem;
    }
}