@use "../../variables";


.partner-section {
    overflow: hidden; //Prevents Logos from breaking out
}

.partner-fixed-width {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: variables.$fixedWidth;
    margin: 0 auto;
    padding: 25px;
}

.partner-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.partner-heading h3 {
    color: variables.$mainGreen;
}

.partners-logo-wrapper {
    width: 100%;
    overflow: hidden;
}

.partners-container {
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 25px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    animation: scroll-partners 20s linear infinite;
}

.partners-container:hover {
    animation-play-state: paused; // pause scroll on hover
}

@keyframes scroll-partners {
    0% {
        transform: translateX(0);
    }
    100% {
        // translate by exactly half — the width of one set of logos
        transform: translateX(-40%);
    }
}

/* hide scrollbar on Chrome and Safari */
// .partners-container::-webkit-scrollbar {
//     display: none;
// }

.partner-logo {
    flex-shrink: 0; /* prevent logos from squishing, forces scroll instead */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 150px;
}

.partner-logo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}