@use "../../variables";

.project-fixed-width {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: variables.$fixedWidth;
    margin: 0 auto;
    padding: 30px 20px;
}

.project-section-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-section-heading h2 {
    font-size: 2rem;
    color: variables.$mainGreen;
}

.view-project-button {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.project-grid {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.project-box {
    position: relative;
    // max-width: 500px;
    border-radius: 10px;
    overflow: clip;
}

.project-box-overlay {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 5px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45%;
    padding: 12px;
    color: variables.$mainWhite;
    background-color: variables.$transparentOverlay;
    cursor: pointer;
}

.project-box-overlay h3 {
    font-size: 1rem;
}

@media (max-width: 1025px) {
    .project-grid {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    // .project-grid > :last-child {
    //     grid-column: 1 / -1;
    // }
    .project-box-overlay {
        height: 50%;
    }

    .project-box-overlay p {
        // display: none;
        font-size: 0.8rem;
    }
}

@media (max-width: 680px) {
    .project-grid {
        grid-template-columns: 1fr;
        grid-template-rows: none;
    }

    .project-section-heading h2 {
        font-size: 1.4rem;
    }
}