.events-container {
    margin: 50px 0;
}

.event-link {
    color: var(--mainGreen);
}

.event-box {
    width: 300px;
    height: auto;
}

.event-box img {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3; /* TO MAKE ALL IMAGE UNIFORM */
}